{% extends "object_id.html" %}

{% block header %}
<p>Name: {{dish.name}}   -  Born: {{dish.born}}</p>
{% url petridish.function.views.function_id fitness_function.id as ff_url %} 
<p> Generation: {{dish.generation}}  - Fitness Function: <a href="{{ff_url}}">{{fitness_function.name}}</a> </p>
{% endblock %}

{% block data %}
<p> Organisms </p>
{% for organism in organisms %}
	{% url petridish.organism.views.organism_id organism.id as organism_url %}
	<li><a href="{{ organism_url}}">{{organism.id}}</a></li>
{% endfor %}
{% endblock %}
